install
cdrom
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8
keyboard us
network --onboot yes --bootproto dhcp --noipv6
rootpw  --iscrypted $6$rounds=PASS_HERE
user --name=ansible --groups=wheel --iscrypted --password=$6$rounds=PASS_HERE
sshkey --username=ansible "KEY_HERE"
firewall --disabled
selinux --disabled
timezone --utc Europe/Moscow
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

text
skipx
zerombr

clearpart --all --initlabel
autopart

auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
services --disabled="chronyd"
reboot
%addon com_redhat_kdump --disable
%end

%packages --ignoremissing
# dnf group info minimal-environment
@^minimal-environment
vim
# Exclude unnecessary firmwares
-iwl*firmware
%end

# %packages --ignoremissing --excludedocs
# @Base
# @Core
# @Development Tools
# openssh-clients
# sudo
# openssl-devel
# readline-devel
# zlib-devel
# net-tools
# vim
# wget
# curl
# rsync

# # unnecessary firmware
# -aic94xx-firmware
# -atmel-firmware
# -b43-openfwwf
# -bfa-firmware
# -ipw2100-firmware
# -ipw2200-firmware
# -ivtv-firmware
# -iwl100-firmware
# -iwl1000-firmware
# -iwl3945-firmware
# -iwl4965-firmware
# -iwl5000-firmware
# -iwl5150-firmware
# -iwl6000-firmware
# -iwl6000g2a-firmware
# -iwl6050-firmware
# -libertas-usb8388-firmware
# -ql2100-firmware
# -ql2200-firmware
# -ql23xx-firmware
# -ql2400-firmware
# -ql2500-firmware
# -rt61pci-firmware
# -rt73usb-firmware
# -xorg-x11-drv-ati-firmware
# -zd1211-firmware
# %end

# Enforce password policies
%anaconda
pwpolicy root --minlen=10 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=10 --minquality=1 --notstrict --nochanges --notempty
pwpolicy luks --minlen=10 --minquality=1 --notstrict --nochanges --notempty
%end

%post
yum update -y
yum install -y epel-release open-vm-tools
yum clean all
# Add ansible user to SUDO
echo "ansible        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/ansible
echo "Defaults:ansible !requiretty"                 >> /etc/sudoers.d/ansible
chmod 0440 /etc/sudoers.d/ansible
echo 'UseDNS no' >> /etc/ssh/sshd_config
%end
